h1 {
  background-color: grey;
  font-size: 33px;
  font-style: italic;
}

h2 {
  font-size: 20px;
}

.post {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

 .key {
   width: 22px;
   height: 22px;
 }

 .value {
   height: 22px;
 }
